---
import { getCollection } from "astro:content";
const faqs = await getCollection("faqs");
---

<section
  class="rounded-lg bg-theme-white text-theme-dark-purple shadow-xl md:w-[600px] md:rounded-2xl md:pb-4"
>
  <div class="flex flex-row space-x-5 px-4 pt-4 md:px-8 md:pt-12 md:pb-3">
    <img src="/icon-star.svg" alt="Star" class="w-5 md:w-10" />
    <h1 class="text-[32px] font-extrabold md:text-6xl">FAQs</h1>
  </div>
  <ul class="mx-6 md:mx-10">
    {
      faqs.map(({ data }, index) => (
        <li
          id={`faq-${data.id}`}
          class={`faq-container flex flex-col gap-4 py-6 ${index !== faqs.length - 1 ? "border-b border-theme-light-pink" : ""}`}
        >
          <button
            class="question flex cursor-pointer flex-row items-center justify-between gap-6 hover:text-theme-bright-purple"
            aria-expanded={index === 0 ? "true" : "false"}
            aria-controls={`answer-${data.id}`}
          >
            <h2 class="text-left leading-tight font-bold md:text-[1.12rem]">{data.question}</h2>
            <img
              src="/icon-plus.svg"
              alt="Expand"
              id={`plus-${data.id}`}
              class={`plus ${index === 0 && "hidden"}`}
            />
            <img
              src="/icon-minus.svg"
              alt="Collapse"
              id={`minus-${data.id}`}
              class={`minus ${index !== 0 && "hidden"}`}
            />
          </button>
          <p
            class={`text-sm text-theme-grayish-purple md:text-base ${index !== 0 && "hidden"}`}
            id={`answer-${data.id}`}
          >
            {data.answer}
          </p>
        </li>
      ))
    }
  </ul>
</section>

<script>
  document.addEventListener("astro:page-load", () => {
    const toggleAnswerVisible = (elementId: string): void => {
      const answers = document.querySelectorAll("p");
      answers.forEach((answer) => {
        if (answer.id === elementId) {
          answer.classList.toggle("hidden");
          const button = document.querySelector(`[aria-controls="${elementId}"]`);
          if (button) {
            button.setAttribute(
              "aria-expanded",
              answer.classList.contains("hidden") ? "false" : "true",
            );
          }
        } else {
          answer.classList.add("hidden");
          const button = document.querySelector(`[aria-controls="${answer.id}"]`);
          if (button) {
            button.setAttribute("aria-expanded", "false");
          }
        }
      });
    };

    const resetImageVisibility = (imgElements: NodeListOf<HTMLImageElement>) => {
      const plusImages = document.querySelectorAll('[id^="plus-"]');
      const minusImages = document.querySelectorAll('[id^="minus-"]');

      plusImages.forEach((image) => {
        if (!Array.from(imgElements).some((element) => element.id === image.id)) {
          image.classList.remove("hidden");
        }
      });

      minusImages.forEach((image) => {
        if (!Array.from(imgElements).some((element) => element.id === image.id)) {
          image.classList.add("hidden");
        }
      });

      imgElements.forEach((element) => {
        toggleImage(element.id);
      });
    };

    const toggleImage = (elementId: string): void => {
      const element = document.getElementById(elementId);
      if (element) {
        element.classList.toggle("hidden");
      }
    };

    const onQuestionClick = (
      answerElement: HTMLParagraphElement,
      imgElements: NodeListOf<HTMLImageElement>,
    ) => {
      toggleAnswerVisible(answerElement.id);
      resetImageVisibility(imgElements);
    };

    const questionList: NodeListOf<HTMLElement> = document.querySelectorAll(".question");
    questionList.forEach((question) => {
      const faqContainer: HTMLElement | null = question.closest(".faq-container");
      if (faqContainer) {
        const answerElement: HTMLParagraphElement | null = faqContainer.querySelector("p");
        const imgElements: NodeListOf<HTMLImageElement> = faqContainer.querySelectorAll("img");
        if (answerElement && imgElements) {
          question.addEventListener("click", () => onQuestionClick(answerElement, imgElements));
        }
      }
    });
  });
</script>
