---
import { getCollection } from "astro:content";
const faqs = await getCollection("faqs");
---

<section class="bg-theme-white text-theme-dark-purple rounded-lg md:w-3xl lg:w-4xl">
  <div class="flex flex-row space-x-5 px-4 pt-4">
    <img src="/icon-star.svg" alt="Star" class="w-5" />
    <h1 class="text-[32px] font-extrabold">FAQs</h1>
  </div>
  {
    faqs.map(({ data }, index) => (
      <article
        class={`faq-container flex flex-col gap-4 px-6 py-5 ${index !== faqs.length - 1 ? "border-b-1" : ""}`}
      >
        <div class="question hover:text-theme-bright-purple flex cursor-pointer flex-row items-center justify-between gap-6">
          <h2 class="leading-tight font-bold">{data.question}</h2>
          <img
            src="/icon-plus.svg"
            alt="Expand"
            id={`plus-${data.id}`}
            class={`${index === 0 && "hidden"}`}
          />
          <img
            src="/icon-minus.svg"
            alt="Collapse"
            id={`minus-${data.id}`}
            class={`${index !== 0 && "hidden"}`}
          />
        </div>
        <p
          class={`text-theme-grayish-purple text-sm ${index !== 0 && "hidden"}`}
          id={`answer-${data.id}`}
        >
          {data.answer}
        </p>
      </article>
    ))
  }
</section>

<script>
  document.addEventListener("astro:page-load", () => {
    const toggleAnswerVisible = (elementId: string): void => {
      const element = document.getElementById(elementId);
      if (element) {
        element.classList.toggle("hidden");
      }
    };

    const toggleImage = (elementId: string): void => {
      const element = document.getElementById(elementId);
      if (element) {
        element.classList.toggle("hidden");
      }
    };

    const onQuestionClick = (
      answerElement: HTMLParagraphElement,
      imgElements: NodeListOf<HTMLImageElement>,
    ) => {
      toggleAnswerVisible(answerElement.id);
      imgElements.forEach((element) => {
        toggleImage(element.id);
      });
    };

    const questionList: NodeListOf<HTMLElement> = document.querySelectorAll(".question");
    questionList.forEach((question) => {
      const faqContainer: HTMLElement | null = question.closest(".faq-container");
      if (faqContainer) {
        const answerElement: HTMLParagraphElement | null = faqContainer.querySelector("p");
        const imgElements: NodeListOf<HTMLImageElement> = faqContainer.querySelectorAll("img");
        if (answerElement && imgElements) {
          question.addEventListener("click", () => onQuestionClick(answerElement, imgElements));
        }
      }
    });
  });
</script>
