---
import { getCollection } from "astro:content";
const faqs = await getCollection("faqs");
---

<section class="bg-theme-white text-theme-dark-purple rounded-lg p-5">
  <div class="mb-4 flex flex-row space-x-5">
    <img src="/icon-star.svg" alt="Star" class="w-5" />
    <h1 class="text-[32px] font-extrabold">FAQs</h1>
  </div>
  {
    faqs.map(({ data }, index) => (
      <article class={`faq-container ${index !== faqs.length - 1 ? "border-b-1" : ""}`}>
        <div class="question hover:text-theme-bright-purple flex cursor-pointer flex-row items-center justify-between py-4">
          <h2 class="font-bold">{data.question}</h2>
          <img src="/icon-plus.svg" alt="Expand" id={`plus-${data.id}`} />
          <img src="/icon-minus.svg" alt="Collapse" id={`minus-${data.id}`} class="hidden" />
        </div>
        <p
          class={`text-theme-grayish-purple overflow-hidden text-sm transition-all duration-400 ${index !== 0 ? "max-h-0" : "max-h-24"}`}
          id={`answer-${data.id}`}
        >
          {data.answer}
        </p>
      </article>
    ))
  }
</section>

<script>
  document.addEventListener("astro:page-load", () => {
    const toggleAnswerVisible = (elementId: string): void => {
      const element = document.getElementById(elementId);
      if (element) {
        element.classList.toggle("max-h-0");
        element.classList.toggle("max-h-24");
      }
    };

    const toggleImage = (elementId: string): void => {
      const element = document.getElementById(elementId);
      if (element) {
        element.classList.toggle("hidden");
      }
    };

    const onQuestionClick = (
      answerElement: HTMLParagraphElement,
      imgElements: NodeListOf<HTMLImageElement>,
    ) => {
      toggleAnswerVisible(answerElement.id);
      imgElements.forEach((element) => {
        toggleImage(element.id);
      });
    };

    const questionList: NodeListOf<HTMLElement> = document.querySelectorAll(".question");
    questionList.forEach((question) => {
      const faqContainer: HTMLElement | null = question.closest(".faq-container");
      if (faqContainer) {
        const answerElement: HTMLParagraphElement | null = faqContainer.querySelector("p");
        const imgElements: NodeListOf<HTMLImageElement> = faqContainer.querySelectorAll("img");
        if (answerElement && imgElements) {
          question.addEventListener("click", () => onQuestionClick(answerElement, imgElements));
        }
      }
    });
  });
</script>
